In [113]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
# import json
import os

import pandas as pd
pd.set_option("display.max_columns", 30)

import requests

In [114]:
# Calculate the date two months ago
current_datetime = datetime.now() - relativedelta(months=2)
formatted_date = current_datetime.strftime("%Y-%m-%d")

# Construct the query URL
url = (
    "https://data.cityofchicago.org/resource/ajtu-isnz.json?"
    f"$where=trip_start_timestamp >= '{formatted_date}T00:00:00'"
    f" AND trip_start_timestamp <= '{formatted_date}T23:59:59'"
    f"&$limit=30000"
)

# Make the GET request
response = requests.get(url)

data = response.json()

# data

In [115]:
len(data)

23661

In [116]:
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,df76b25c42232d4846683943b804fa3e104164e1,78d1ae230754ef2eca7aa3e828789bc4714b8a261a35d5...,2024-09-25T23:45:00.000,2024-09-25T23:45:00.000,809,5.01,32,7,16,3.3,0,0,19.8,Mobile,City Service,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",41.922686284,-87.649488729,"{'type': 'Point', 'coordinates': [-87.64948872...",NaN,NaN
1,debe8f55b067d8de1c5690293f3f0199ac8b83b0,f9bc93a0ba6b1f18c9709a96c99bb9c5a99054b1711f80...,2024-09-25T23:45:00.000,2024-09-25T23:45:00.000,9,0,8,8,20,10,0,0,30.5,Credit Card,City Service,41.902788048,-87.62614559,"{'type': 'Point', 'coordinates': [-87.62614558...",41.902788048,-87.62614559,"{'type': 'Point', 'coordinates': [-87.62614558...",17031081202,17031081202
2,d67a859052b38446ff6e89504e130d22938e9a50,5185bcbcb12036942b65e858a85af89bac955ee570ce66...,2024-09-25T23:45:00.000,2024-09-25T23:45:00.000,11,0,8,8,25,0,0,0,25.5,Credit Card,Taxicab Insurance Agency Llc,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
3,d5be5660052e771c25847c33fe7aa69645fd5ea8,3324712c665e5b70d271ba8f48ae939f361e0caf35973b...,2024-09-25T23:45:00.000,2024-09-25T23:45:00.000,10,0,24,24,25,5.1,0,0,30.6,Credit Card,Flash Cab,41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN
4,d3f0ffb6c0a95407754a59f432e370c9e23cba84,6fa0364cac8d604e8a7613c08fdcbe5bfa05e361d4a758...,2024-09-25T23:45:00.000,2024-09-26T00:00:00.000,1238,11.97,52,61,31.25,0,0,0,31.25,Prcard,Flash Cab,41.707311449,-87.534902901,"{'type': 'Point', 'coordinates': [-87.53490290...",41.80901825,-87.659166599,"{'type': 'Point', 'coordinates': [-87.65916659...",NaN,NaN

In [117]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23661 entries, 0 to 23660
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     23661 non-null  object
 1   taxi_id                     23661 non-null  object
 2   trip_start_timestamp        23661 non-null  object
 3   trip_end_timestamp          23661 non-null  object
 4   trip_seconds                23657 non-null  object
 5   trip_miles                  23661 non-null  object
 6   pickup_community_area       22959 non-null  object
 7   dropoff_community_area      21636 non-null  object
 8   fare                        23603 non-null  object
 9   tips                        23603 non-null  object
 10  tolls                       23603 non-null  object
 11  extras                      23603 non-null  object
 12  trip_total                  23603 non-null  object
 13  payment_type                23661 non-null  object
 14  company                     23661 non-null  object
 15  pickup_centroid_latitude    22968 non-null  object
 16  pickup_centroid_longitude   22968 non-null  object
 17  pickup_centroid_location    22968 non-null  object
 18  dropoff_centroid_latitude   21777 non-null  object
 19  dropoff_centroid_longitude  21777 non-null  object
 20  dropoff_centroid_location   21777 non-null  object
 21  pickup_census_tract         12506 non-null  object
 22  dropoff_census_tract        12180 non-null  object
dtypes: object(23)
memory usage: 4.2+ MB

In [118]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,23661,23661,23661,23661,23657,23661,22959,21636,23603,23603,23603,23603,23603,23661,23661,22968,22968,22968,21777,21777,21777,12506,12180
unique,23661,2527,96,107,4468,2524,77,77,1642,1198,26,215,2919,7,35,146,146,146,188,188,188,70,116
top,bc9d1249e9641ce9aad872b3beaba207879a6b2b,ff5a3bcec871b7dd99b5eb851c17f4198eec9e3d4d1ece...,2024-09-25T17:15:00.000,2024-09-25T18:30:00.000,0,0,76,8,9,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100
freq,1,39,462,491,330,2252,5189,5553,929,10457,23436,15483,441,10422,4724,3182,3182,3182,1633,1633,1633,3182,1633

In [119]:
taxi_trips[taxi_trips["fare"].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
18377,2c7a2f37d6ec0fbb9ed04c3e5d7af5a6af581b5e,b9a58663518c48b09e83f462ca25ee0d702a2e4bc12199...,2024-09-25T10:15:00.000,2024-09-25T10:30:00.000,509,1.06,8,8,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",41.890922026,-87.618868355,"{'type': 'Point', 'coordinates': [-87.61886835...",17031081300,17031081403
22605,247755f2156133020ae9662f2263f23183394ad7,0f06cf0dfe418146c9677711bd5b325df80c5b5e0c1f71...,2024-09-25T06:45:00.000,2024-09-25T07:15:00.000,2098,21.41,76,NaN,NaN,NaN,NaN,NaN,NaN,Cash,Globe Taxi,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",NaN,NaN,NaN,17031980000,NaN
1739,2b5047831b9f24671732f61f0c06754ced94041c,d95b99518116b5f943d75828e78c02e668ec6add7d28ba...,2024-09-25T21:00:00.000,2024-09-25T21:00:00.000,NaN,0,3,3,NaN,NaN,NaN,NaN,NaN,Cash,Choice Taxi Association Inc,41.96581197,-87.655878786,"{'type': 'Point', 'coordinates': [-87.65587878...",41.96581197,-87.655878786,"{'type': 'Point', 'coordinates': [-87.65587878...",NaN,NaN
3647,7296ff77a3c33ac72f632fe14ae4e63ad3b73540,ba3d352fc557396edc7443cf0ad65e8593c05a838a856a...,2024-09-25T19:30:00.000,2024-09-25T19:45:00.000,973,3.83,6,77,NaN,NaN,NaN,NaN,NaN,Mobile,City Service,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",NaN,NaN
22206,975f73d248ca3274efe348e2974df3464cf05675,dd49b3d1ac07f7f5a90da9cfc87d875f75642a20dc62a1...,2024-09-25T07:15:00.000,2024-09-25T07:30:00.000,1338,12.44,8,56,NaN,NaN,NaN,NaN,NaN,Mobile,City Service,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN

### Transformation: deal with NaN values

In [120]:
taxi_trips.drop(["pickup_census_tract", "dropoff_census_tract"], axis=1, inplace=True)

taxi_trips.drop(["pickup_centroid_location", "dropoff_centroid_location"], 
                axis=1, inplace=True)

taxi_trips.dropna(inplace=True)

In [121]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21387 entries, 0 to 23660
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21387 non-null  object
 1   taxi_id                     21387 non-null  object
 2   trip_start_timestamp        21387 non-null  object
 3   trip_end_timestamp          21387 non-null  object
 4   trip_seconds                21387 non-null  object
 5   trip_miles                  21387 non-null  object
 6   pickup_community_area       21387 non-null  object
 7   dropoff_community_area      21387 non-null  object
 8   fare                        21387 non-null  object
 9   tips                        21387 non-null  object
 10  tolls                       21387 non-null  object
 11  extras                      21387 non-null  object
 12  trip_total                  21387 non-null  object
 13  payment_type                21387 non-null  object
 14  company                     21387 non-null  object
 15  pickup_centroid_latitude    21387 non-null  object
 16  pickup_centroid_longitude   21387 non-null  object
 17  dropoff_centroid_latitude   21387 non-null  object
 18  dropoff_centroid_longitude  21387 non-null  object
dtypes: object(19)
memory usage: 3.3+ MB

### Transformation: renaming

In [122]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_community_area_id",
                           "dropoff_community_area": "dropoff_community_area_id"}, inplace=True)

In [123]:
taxi_trips.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_community_area_id',
       'dropoff_community_area_id', 'fare', 'tips', 'tolls', 'extras',
       'trip_total', 'payment_type', 'company', 'pickup_centroid_latitude',
       'pickup_centroid_longitude', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude'],
      dtype='object')

### Transformation: create helper column for weather

In [124]:
taxi_trips["trip_start_timestamp"]

0        2024-09-25T23:45:00.000
1        2024-09-25T23:45:00.000
2        2024-09-25T23:45:00.000
3        2024-09-25T23:45:00.000
4        2024-09-25T23:45:00.000
                  ...
23656    2024-09-25T00:00:00.000
23657    2024-09-25T00:00:00.000
23658    2024-09-25T00:00:00.000
23659    2024-09-25T00:00:00.000
23660    2024-09-25T00:00:00.000
Name: trip_start_timestamp, Length: 21387, dtype: object

In [ ]:
taxi_trips["trip_start_timestamp"] = pd.to_datetime(taxi_trips["trip_start_timestamp"])

taxi_trips["datetime_for_weather"] = taxi_trips["trip_start_timestamp"].dt.floor("h")

In [148]:
taxi_trips["trip_start_timestamp"]

0       2024-09-25 23:45:00
1       2024-09-25 23:45:00
2       2024-09-25 23:45:00
3       2024-09-25 23:45:00
4       2024-09-25 23:45:00
                ...
23656   2024-09-25 00:00:00
23657   2024-09-25 00:00:00
23658   2024-09-25 00:00:00
23659   2024-09-25 00:00:00
23660   2024-09-25 00:00:00
Name: trip_start_timestamp, Length: 21387, dtype: datetime64[ns]

In [127]:
taxi_trips["datetime_for_weather"]

0       2024-09-25 23:00:00
1       2024-09-25 23:00:00
2       2024-09-25 23:00:00
3       2024-09-25 23:00:00
4       2024-09-25 23:00:00
                ...
23656   2024-09-25 00:00:00
23657   2024-09-25 00:00:00
23658   2024-09-25 00:00:00
23659   2024-09-25 00:00:00
23660   2024-09-25 00:00:00
Name: datetime_for_weather, Length: 21387, dtype: datetime64[ns]

### Check joining the trips and the weather data

In [128]:
# Get weather data, and create a dataframe out of it.

current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    "latitude": 41.85,
    "longitude": -87.65,
    "start_date": formatted_datetime,
    "end_date": formatted_datetime,
    "hourly": "temperature_2m,wind_speed_10m,rain,precipitation"
}

response = requests.get(url, params=params)

weather_data = response.json()


weather_data_filtered = {
    "datetime": weather_data["hourly"]["time"],
    "temperature": weather_data["hourly"]["temperature_2m"],
    "wind_speed": weather_data["hourly"]["wind_speed_10m"],
    "rain": weather_data["hourly"]["rain"],
    "precipitation": weather_data["hourly"]["precipitation"]
}

weather_df = pd.DataFrame(weather_data_filtered)

weather_df["datetime"] = pd.to_datetime(weather_df["datetime"])


weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2024-09-25 00:00:00         18.3        21.4   0.3            0.3
1 2024-09-25 01:00:00         17.3        20.1   0.3            0.3
2 2024-09-25 02:00:00         17.1        18.5   0.2            0.2
3 2024-09-25 03:00:00         16.8        18.4   0.0            0.0
4 2024-09-25 04:00:00         16.8        15.8   0.0            0.0

In [129]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, 
            left_on="datetime_for_weather", right_on="datetime")

In [130]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,datetime,temperature,wind_speed,rain,precipitation
0,df76b25c42232d4846683943b804fa3e104164e1,78d1ae230754ef2eca7aa3e828789bc4714b8a261a35d5...,2024-09-25 23:45:00,2024-09-25T23:45:00.000,809,5.01,32,7,16,3.3,0,0,19.8,Mobile,City Service,41.878865584,-87.625192142,41.922686284,-87.649488729,2024-09-25 23:00:00,2024-09-25 23:00:00,19.9,9.9,0.0,0.0
1,debe8f55b067d8de1c5690293f3f0199ac8b83b0,f9bc93a0ba6b1f18c9709a96c99bb9c5a99054b1711f80...,2024-09-25 23:45:00,2024-09-25T23:45:00.000,9,0,8,8,20,10,0,0,30.5,Credit Card,City Service,41.902788048,-87.62614559,41.902788048,-87.62614559,2024-09-25 23:00:00,2024-09-25 23:00:00,19.9,9.9,0.0,0.0
2,d67a859052b38446ff6e89504e130d22938e9a50,5185bcbcb12036942b65e858a85af89bac955ee570ce66...,2024-09-25 23:45:00,2024-09-25T23:45:00.000,11,0,8,8,25,0,0,0,25.5,Credit Card,Taxicab Insurance Agency Llc,41.899602111,-87.633308037,41.899602111,-87.633308037,2024-09-25 23:00:00,2024-09-25 23:00:00,19.9,9.9,0.0,0.0
3,d5be5660052e771c25847c33fe7aa69645fd5ea8,3324712c665e5b70d271ba8f48ae939f361e0caf35973b...,2024-09-25 23:45:00,2024-09-25T23:45:00.000,10,0,24,24,25,5.1,0,0,30.6,Credit Card,Flash Cab,41.901206994,-87.676355989,41.901206994,-87.676355989,2024-09-25 23:00:00,2024-09-25 23:00:00,19.9,9.9,0.0,0.0
4,d3f0ffb6c0a95407754a59f432e370c9e23cba84,6fa0364cac8d604e8a7613c08fdcbe5bfa05e361d4a758...,2024-09-25 23:45:00,2024-09-26T00:00:00.000,1238,11.97,52,61,31.25,0,0,0,31.25,Prcard,Flash Cab,41.707311449,-87.534902901,41.80901825,-87.659166599,2024-09-25 23:00:00,2024-09-25 23:00:00,19.9,9.9,0.0,0.0

### Transformation: Data type conversions

In [131]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21387 entries, 0 to 23660
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21387 non-null  object
 1   taxi_id                     21387 non-null  object
 2   trip_start_timestamp        21387 non-null  datetime64[ns]
 3   trip_end_timestamp          21387 non-null  object
 4   trip_seconds                21387 non-null  object
 5   trip_miles                  21387 non-null  object
 6   pickup_community_area_id    21387 non-null  object
 7   dropoff_community_area_id   21387 non-null  object
 8   fare                        21387 non-null  object
 9   tips                        21387 non-null  object
 10  tolls                       21387 non-null  object
 11  extras                      21387 non-null  object
 12  trip_total                  21387 non-null  object
 13  payment_type                21387 non-null  object
 14  company                     21387 non-null  object
 15  pickup_centroid_latitude    21387 non-null  object
 16  pickup_centroid_longitude   21387 non-null  object
 17  dropoff_centroid_latitude   21387 non-null  object
 18  dropoff_centroid_longitude  21387 non-null  object
 19  datetime_for_weather        21387 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(18)
memory usage: 3.4+ MB

In [132]:
taxi_trips.describe()

                trip_start_timestamp           datetime_for_weather
count                          21387                          21387
mean   2024-09-25 14:14:17.160892160  2024-09-25 13:51:47.476504320
min              2024-09-25 00:00:00            2024-09-25 00:00:00
25%              2024-09-25 10:30:00            2024-09-25 10:00:00
50%              2024-09-25 14:30:00            2024-09-25 14:00:00
75%              2024-09-25 18:00:00            2024-09-25 18:00:00
max              2024-09-25 23:45:00            2024-09-25 23:00:00

In [133]:
taxi_trips.head(1)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
0,df76b25c42232d4846683943b804fa3e104164e1,78d1ae230754ef2eca7aa3e828789bc4714b8a261a35d5...,2024-09-25 23:45:00,2024-09-25T23:45:00.000,809,5.01,32,7,16,3.3,0,0,19.8,Mobile,City Service,41.878865584,-87.625192142,41.922686284,-87.649488729,2024-09-25 23:00:00

In [134]:
data_types = {
    "trip_end_timestamp": "datetime64[ns]",
    "trip_seconds": "int32",
    "trip_miles": "float",
    "pickup_community_area_id": "int8",
    "dropoff_community_area_id": "int8",
    "fare": "float",
    "tips": "float",
    "tolls": "float",
    "extras": "float",
    "trip_total": "float"
}

taxi_trips = taxi_trips.astype(data_types)

In [135]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21387 entries, 0 to 23660
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21387 non-null  object
 1   taxi_id                     21387 non-null  object
 2   trip_start_timestamp        21387 non-null  datetime64[ns]
 3   trip_end_timestamp          21387 non-null  datetime64[ns]
 4   trip_seconds                21387 non-null  int32
 5   trip_miles                  21387 non-null  float64
 6   pickup_community_area_id    21387 non-null  int8
 7   dropoff_community_area_id   21387 non-null  int8
 8   fare                        21387 non-null  float64
 9   tips                        21387 non-null  float64
 10  tolls                       21387 non-null  float64
 11  extras                      21387 non-null  float64
 12  trip_total                  21387 non-null  float64
 13  payment_type                21387 non-null  object
 14  company                     21387 non-null  object
 15  pickup_centroid_latitude    21387 non-null  object
 16  pickup_centroid_longitude   21387 non-null  object
 17  dropoff_centroid_latitude   21387 non-null  object
 18  dropoff_centroid_longitude  21387 non-null  object
 19  datetime_for_weather        21387 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int8(2), object(8)
memory usage: 3.1+ MB

In [136]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,datetime_for_weather
count,21387,21387,21387.000000,21387.000000,21387.000000,21387.000000,21387.00000,21387.000000,21387.000000,21387.000000,21387.000000,21387
mean,2024-09-25 14:14:17.160892160,2024-09-25 14:38:16.942067712,1439.290644,6.590821,34.943050,26.854725,23.26428,3.337294,0.006677,1.436224,28.260865,2024-09-25 13:51:47.476504320
min,2024-09-25 00:00:00,2024-09-25 00:00:00,0.000000,0.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2024-09-25 00:00:00
25%,2024-09-25 10:30:00,2024-09-25 11:00:00,482.000000,1.030000,8.000000,8.000000,8.25000,0.000000,0.000000,0.000000,10.250000,2024-09-25 10:00:00
50%,2024-09-25 14:30:00,2024-09-25 14:45:00,960.000000,2.910000,32.000000,28.000000,14.98000,2.000000,0.000000,0.000000,17.850000,2024-09-25 14:00:00
75%,2024-09-25 18:00:00,2024-09-25 18:30:00,2008.500000,12.060000,56.000000,32.000000,36.00000,5.000000,0.000000,1.500000,45.000000,2024-09-25 18:00:00
max,2024-09-25 23:45:00,2024-09-26 10:30:00,67824.000000,44.860000,77.000000,77.000000,7625.00000,97.000000,10.000000,285.000000,7625.000000,2024-09-25 23:00:00
std,NaN,NaN,1557.227652,6.937675,25.133576,20.789556,58.93800,4.449433,0.166892,4.597651,60.429572,NaN

### Memory usage

In [150]:
taxi_trips.memory_usage(deep=True).sum()

np.int64(15414227)

### Sanity checks

In [138]:
taxi_trips[taxi_trips['trip_end_timestamp'] 
           == taxi_trips['trip_end_timestamp'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
9586,f8b37fd37e33956707b905edf011b268aab9d9b5,576309c215de6f146c7b6d2160aba2af7bc4b32195f468...,2024-09-25 15:45:00,2024-09-26 10:30:00,67824,0.7,8,76,6.5,0.0,0.0,0.0,6.5,Cash,5 Star Taxi,41.892507781,-87.626214906,41.97907082,-87.903039661,2024-09-25 15:00:00

In [139]:
taxi_trips[taxi_trips['trip_seconds'] 
           == taxi_trips['trip_seconds'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
9586,f8b37fd37e33956707b905edf011b268aab9d9b5,576309c215de6f146c7b6d2160aba2af7bc4b32195f468...,2024-09-25 15:45:00,2024-09-26 10:30:00,67824,0.7,8,76,6.5,0.0,0.0,0.0,6.5,Cash,5 Star Taxi,41.892507781,-87.626214906,41.97907082,-87.903039661,2024-09-25 15:00:00

In [140]:
taxi_trips[taxi_trips['fare'] 
           == taxi_trips['fare'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
6491,66c9e3613e3045f7f14c4c6e08978bda66b9ef42,00e34f77f4495a6128d5b3312099c8f2f4ea25c2650e83...,2024-09-25 17:45:00,2024-09-25 17:45:00,0,0.0,25,25,7625.0,0.0,0.0,0.0,7625.0,Cash,Tac - American United Dispatch,41.890608853,-87.756046711,41.890608853,-87.756046711,2024-09-25 17:00:00

In [141]:
taxi_trips.nlargest(10, 'fare')

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
6491,66c9e3613e3045f7f14c4c6e08978bda66b9ef42,00e34f77f4495a6128d5b3312099c8f2f4ea25c2650e83...,2024-09-25 17:45:00,2024-09-25 17:45:00,0,0.00,25,25,7625.00,0.00,0.0,0.0,7625.00,Cash,Tac - American United Dispatch,41.890608853,-87.756046711,41.890608853,-87.756046711,2024-09-25 17:00:00
5693,56d40f9bb41e4d5779358e57dd78082fa4ca60a8,00e34f77f4495a6128d5b3312099c8f2f4ea25c2650e83...,2024-09-25 18:15:00,2024-09-25 18:45:00,1602,0.00,30,69,2900.00,0.00,0.0,0.0,2900.00,Cash,Tac - American United Dispatch,41.839086906,-87.714003807,41.763246799,-87.616134111,2024-09-25 18:00:00
1909,8b1f3d26c84c65870b6e321edb2bc97f7d6a6ac7,5445836ad254298c6af060d211ddf0e40b2f2a48146113...,2024-09-25 21:00:00,2024-09-25 21:15:00,120,0.00,56,56,815.10,0.00,0.0,0.0,815.10,Cash,Taxi Affiliation Services,41.79259236,-87.769615453,41.79259236,-87.769615453,2024-09-25 21:00:00
2518,1e62121fd3afe7828354922684c4f34a566a43e7,2d5029b701200a2ab66bd5071f743efe20a3036597d2b3...,2024-09-25 20:30:00,2024-09-25 20:30:00,20,0.00,76,76,500.00,0.00,0.0,0.0,500.00,Cash,Sun Taxi,41.97907082,-87.903039661,41.97907082,-87.903039661,2024-09-25 20:00:00
14483,a263a07d34ac02051a833ea1e80b99ea0fda0ec5,a0555bb6e0157e982e0df2c02256fe99105d82992f8a29...,2024-09-25 12:45:00,2024-09-25 12:45:00,9,0.00,16,16,435.00,0.00,0.0,0.0,435.50,Credit Card,Flash Cab,41.953582125,-87.72345239,41.953582125,-87.72345239,2024-09-25 12:00:00
5922,c4a6eb7dff04995e8d73d8ac154fb85f81ff34f9,974f3b47d36986852c33bd10266df22bb72c497e71fa32...,2024-09-25 18:00:00,2024-09-25 18:00:00,67,0.00,77,77,400.00,0.00,0.0,0.0,400.00,Cash,Tac - Yellow Cab Association,41.9867118,-87.663416405,41.9867118,-87.663416405,2024-09-25 18:00:00
16457,9bea5602a7bc747abc7cc55ed8aa5f223276aa16,bc8f828bfabea08242e8ba5d7283722378869f674da074...,2024-09-25 11:30:00,2024-09-25 11:45:00,573,0.00,41,39,400.00,0.00,0.0,0.0,400.00,Cash,Tac - Yellow Cab Association,41.794090253,-87.592310855,41.808916283,-87.596183344,2024-09-25 11:00:00
5762,27d83dbd98ef85d662db8f71982014a26ac3cea8,974f3b47d36986852c33bd10266df22bb72c497e71fa32...,2024-09-25 18:15:00,2024-09-25 18:15:00,9,0.00,3,3,300.00,0.00,0.0,0.0,300.00,Cash,Tac - Yellow Cab Association,41.96581197,-87.655878786,41.96581197,-87.655878786,2024-09-25 18:00:00
19693,73db387c7f7bb90e8173f9fcc9ce9b748288084b,213cb87b9353531cbe1f6094a0456d586c651015cb15a5...,2024-09-25 09:15:00,2024-09-25 09:15:00,0,0.00,32,32,180.25,0.00,0.0,0.0,180.25,Cash,Choice Taxi Association,41.870607372,-87.622172937,41.870607372,-87.622172937,2024-09-25 09:00:00
23048,771c3c30d50ecb3fda3dc8497fdd8fbacb1187b9,271cde2c4b4cc7b38a86c7e9b1543474230949e7fa5925...,2024-09-25 05:15:00,2024-09-25 05:15:00,131,0.01,76,76,150.00,37.75,0.0,0.0,188.75,Credit Card,Sun Taxi,41.97907082,-87.903039661,41.97907082,-87.903039661,2024-09-25 05:00:00